#yellow{
	background-color:yellow;
	border-color:green;
	border-width:1px;
	padding:10px;
}
#red{
	background-color:red;
	border-color:black;
	border-width:1px;
	padding:10px;
}
#green{
	background-color:green;
	border-color:yellow;
	border-width:1px;
	padding:10px;
}